@import 'node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

@import 'node_modules/sassdash/index';
@import 'node_modules/sass-svg/index';

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$white: #FCFCFC;
$dark: #525769;
$grey: #969DA8;
$red: #FF8782;
$shadow: #0002;

$font-serif: 'Zilla Slab', serif;
$font-display: 'Poppins', sans-serif;

%floating {
    box-shadow: 0px -4px $shadow;
    z-index: 10;
}
%inset {
    box-shadow: 0px -4px $shadow inset;
}
%stripes {
    background-image: repeating-linear-gradient(45deg, $grey, $grey 30px, $white 30px, $white 60px);
    background-size: 400% 400%;
    animation: slide 120s linear infinite;
    background-position: 75% 50%;
}

@keyframes slide {
    0% {
    background-position: 0% 50%;
    }

    100% {
    background-position: 100% 50%;
    }
}


%light {
    background-color: $white;
    color: $dark;  
    border-color:  $dark
}
%dark {
    background-color: $dark;
    color: $white;
    border-color: $white;
}
%red {
    background-color: $red;
    color: $white;  
}


@mixin back-to-top-icon($color) {
    @include svg ((x: 0, y: 0, viewBox: 0 0 24 24, transform: 'rotate(180)')) {
        @include svg('rect', (
            fill: $color,
            width: '5',
            height: '14',
            x: '0',
            ry: '2',
            transform: 'rotate(45, 5, 24)'
        ));   
        @include svg('rect', (
            fill: $color,
            width: '5',
            height: '14',
            x: '19',
            ry: '2',
            transform: 'rotate(-45, 19, 24)'
        ));   
    }
}

.back-to-top {
    position: absolute;
    bottom: 0rem; 
    right: 1rem;
    margin: 8px;
    width: 32px;
    height: 32px;
    border-radius: 2px 2px 0 0;
}

.light {
    @extend %light;
    a {
        color: $dark;
    }
    a:visited {
        color: $dark;
    }
    .button {
      border: 0;
        @extend %dark;
        color: $white !important;
        @extend %floating;
    }  
    .button.icon svg {
        margin-bottom: -2px ;
        fill: $white !important;
    }
    .button:hover {
        box-shadow: 0px -6px $shadow;
        transform: translateY(2px);
    } 
    svg {
        fill: $dark;
    }
    .back-to-top {
        @extend %dark;
        @include back-to-top-icon($dark);
    }
}
.dark {
    @extend %dark;
    .button {
        @extend %light;
        @extend %inset;
        color: $dark !important;
    }
    .button.icon svg {
        fill: $dark !important;
    }
    .button.icon svg,
    .button div {
        transition: all .2s cubic-bezier(.36,.07,.19,.97);
    }
    .button.icon:hover svg,
    .button:hover div {
        transform: translateY(2px);
    }
    .button:hover {
        background-position: 0 0;
        box-shadow: 0px 4px $shadow inset;
    }
    .button:active {
        box-shadow: 0px 6px $shadow inset;
    }
    .button:visited {
        color: $dark !important;
    }
    a {
        color: $white !important;
    }
    a:visited {
        color: $white !important;
    }
    svg {
        fill: $white;
    } 
    .back-to-top {
        @extend %light;
        @include back-to-top-icon($dark);
    }
}
.icon svg {
    margin-top: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 70em;
  margin: auto;
  padding: 0 1em;
}

.big {
  font-size: 1.5em;
}

.button {
    cursor: pointer;
    display: inline-block;
    font-family: $font-display;
    font-weight: 700;
    font-size: 1em;
    padding: .5em .75em;
    border-radius: 2px;
    transition: all .2s cubic-bezier(.36,.07,.19,.97);
    text-decoration: none;
    margin-right: .5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.button.back-to-top {
  padding: 0;
  background-position: 0 -2px;
}
.button:active {
    box-shadow: 0px -4px $shadow;
    transform: translateY(0);
}

.button.icon {
    padding: .35em .7em;
}

.lightbox {
  display: none; // Unopened lightbox
  &:target { // Opened lightbox
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  // Lightbox content
  .lightbox__frame {
    width: 95%;
    max-width: 70rem;
    padding: 0;
    background-color: $white;
    position: relative;
    display: flex;
  }
  .lightbox__content {
    max-height: 95vh;
    @media(max-width: 600px) {
      max-height: 100vh;
    }
    overflow: auto;
    position: relative;
  }
  
  .lightbox__closebt {
    cursor: pointer;
    text-decoration: none;
    &:after {
      content: "×";
    }
  }

  // Lightbox overlay
  .lightbox__closebg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
  }
}

.petition {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  .petition__title {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5rem;
    font-size: 1.4em;
    font-family: $font-display;
    font-weight: 700;
    @media(max-width:600px) {
      font-size: 1em;
    }
    @media(max-width:500px) {
      font-size: .8em;
    }
  }
  .petition__text {
    flex-grow: 1;
    overflow: auto;
    // box-shadow: rgba(0,0,0,.3) 0 -5px 5px inset;
    background: linear-gradient(#fff 97%,#aaa 100%);
    .petition__demands {
      padding: 3.2em 1.5rem 10em;
      h2 {
        margin-bottom: 1em;
      }
    }
    .petition__demand {
      margin: 1em 0;
      padding-right: 5%;
    }
    .demand__summary p {
      font-weight: 700;
      margin: .3em 0;
    }
  }
  .potition__form {
    padding: 1em 1.5rem;
    flex-grow: 0;
    display: flex;
    @media(max-width:800px) {
      flex-direction: column;
    }
  }
  .petition__inputs {
    display: flex;
    flex-direction: column;
  }
  .petition__formcol {
    flex-grow: 1;
    display: flex;
    @media(max-width:600px) {
      flex-direction: column;
    }
  }
  .petition__checkboxes {
    @media(max-width:800px) {
      flex-direction: column;
    }
  }
  .petition__field {
    margin-right: 1em;
    @media(max-width:600px) {
      margin-right: 0em;
    }
    flex-grow: 1;
    .errorlist {
      font-size: .85em;
    }
  }
  label.required::after {
    content: "";
  }
  input[type="submit"] {
    width: auto;
    padding: 2em;
    @media(max-width:800px) {
      padding: 1em;
    }
  }
}


@media only screen and (max-width: 40rem) {
    .button {
        margin-bottom: 1rem;
    }
}


.align-end {
    text-align: end;
    float: inline-end;
}

body {
    @extend %light;
    margin: 0;
    padding: 0;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1.1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    display: inline-block;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h2, h3, h4 {
    font-weight: 700;
}

section {
    position: relative;
}

p.text-display {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 50ch;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    p.text-display {
        font-size: 1em;
    }
}
  
@media only screen and (max-width: 400px) {
    h1 {
      font-size: 1.5em;
    }
    p.text-display {
        font-size: 1em;
    }
}

#hero {
    min-height: 75vh;
    display: flex;
}

.hero__progressbar {
  max-width: 26rem;
}

.hero-button {
  font-size: 1.4em;
}

.petition-bar-container {
    margin-bottom: 2rem;
}
.petition-bar {
    @extend %inset;
    @extend %stripes;
    border-radius: 2px;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    margin-bottom: .25em;
    .progress {
        height: 100%;
        background-color: $white;
        box-shadow: 2px 0px $shadow;
    }
}

.pixelate-container {
    position: relative;

    div, section {
        z-index: 20;
        pointer-events: none;
        h1, h2, h3, h4, h5, h6, p, span, iframe, a {
            pointer-events: all;
        }
    }

    canvas {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: darken;
    }
}


section.pad {
    padding: 4rem 0;
    h1 {
        margin-bottom: 1rem; 
    }
}

.video-container {
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 50%;
    padding-top: 2rem;
    height: 0;
}
.video-container iframe, .video-container video, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 0;
    min-height: 0;
}

// Input 


input[type="text"],
input[type="submit"],
select,
textarea {
    @extend %inset;
    @extend %light;
    box-sizing: border-box;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1em;
    border-radius: 2px;
    padding: 8px 8px;
    padding-bottom: 12px;
    margin-bottom: .5rem;
    background-color: $white;
    border: none;
    width: 100%;
}
input[type="submit"] {
    cursor: pointer;
    transition: box-shadow .1s linear;
    font-weight: 600;
}
input[type="submit"]:hover {
    box-shadow: 0px 4px $shadow inset;
}
input[type="submit"]:active {
    box-shadow: 0px 6px $shadow inset;
}


label {
    margin-bottom: .25rem;
    display:inline-block;
}
label.required:after {
  content: " *"
}

input[type="checkbox"] {
    box-sizing: border-box;
    display:none;
}
  
input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    padding-left: 32px;
    margin-right: 16px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    margin: .5rem 0;
    animation: none;
  }
  
input[type="checkbox"] + label:before {
    @extend %inset;
    border-radius: 2px;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: $white;
    transition: all .1s ease;
    @include svg ((x: 0, y: 0, viewBox: 0 0 20 20,)) {
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(45, 10, 10)'
        ));   
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(135, 10, 10)'
        ));   
    }
}
input[type="checkbox"]:checked + label:before {
    background-color: $grey;
    box-shadow: 0px 4px $shadow inset;
}

input[type="checkbox"]:active + label:before {
}
input[type="checkbox"]:hover + label:before {
}

.errorlist {
    @extend %red;
    @extend %inset;
    border-radius: 2px;
    list-style: none;
    padding: .25rem;
    padding-bottom: .5rem;
    margin: 0 0 8px 0;
}


// main navigation
.mainnav {
  display: flex;
  .mainnav__first {
    display: flex;
  }
  .mainnav__last {
    display: flex;
  }
  .mainnav__item {
    font-family: $font-display;
    padding: 1em 1.5em;
    text-decoration: none;
    border-color: lighten($dark, 10);
    border-style: solid;
    border-width: 0;
    border-left-width: 2px;
    transition: background-color .2s linear; 
    &:last-child {
      border-right-width: 2px;
    }
    &:hover {
      background-color: lighten($dark, 10);
    }
  }
}

 
// Demands on main page
.demands {
  display: grid;
  @media(min-width:800px) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: 3em;
  .demand {
    .demand__title {
      h3 {
        font-size: 1.4em;
        margin-bottom: .3em;
        strong {
          border-bottom: 4px solid;
          line-height: 1.1em;
          display: inline-block;
        }
      }
    }
    .demand__summary {
      p {
        margin: 0 0 .5em;
      }
    }
    .demand__more {
      cursor: pointer;
      display: inline-block;
      padding: .1em 0;
      &:after {
        content: " »"
      }
    }
  }
}
.demands-petition-button {
  font-size: 1.7em;
  margin: 1em;
  text-align: center;
}

// lightbox .. used for demand detail view

.js-lightbox {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .js-lightbox__ground {
    background: rgba(0,0,0,.4);
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .js-lightbox__content {
    background: #fff;
    padding: 1em;
    max-width: 30em;
    margin: 1em;
    border-radius: 3px;
    max-height: calc(95vh - 2em);
    overflow: auto;
    z-index: 1;
  }
  .js-lightbox__closebt {
    float: right;
    margin-top: -.15em;
    font-size: 2em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
}

// Helper classes 

.pa-0 {
    padding: 0 !important;
}

