@import 'node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

@import 'node_modules/sassdash/index';
@import 'node_modules/sass-svg/index';

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$white: #FCFCFC;
$dark: #525769;
$grey: #969DA8;
$red: #FF8782;
$shadow: #0002;

$font-serif: 'Zilla Slab', serif;
$font-display: 'Poppins', sans-serif;

%floating {
    box-shadow: 0px -4px $shadow;
    z-index: 10;
}
%inset {
    box-shadow: 0px -4px $shadow inset;
}
%stripes {
    background-image: repeating-linear-gradient(45deg, $grey, $grey 30px, $white 30px, $white 60px);
    background-size: 400% 400%;
    animation: slide 120s linear infinite;
    background-position: 75% 50%;
}

@keyframes slide {
    0% {
    background-position: 0% 50%;
    }

    100% {
    background-position: 100% 50%;
    }
}


%light {
    background-color: $white;
    color: $dark;  
    border-color:  $dark
}
%dark {
    background-color: $dark;
    color: $white;
    border-color: $white;
}
%red {
    background-color: $red;
    color: $white;  
}
.light {
    @extend %light;
    a {
        color: $dark;
    }
    a:visited {
        color: $dark;
    }
    .button {
        @extend %dark;
        color: $white !important;
        @extend %floating;
    }  
    .icon svg {
        fill: $white !important;
    }
    .button:hover {
        box-shadow: 0px -6px $shadow;
        transform: translateY(2px);
    } 
    
    .tile {
        @extend %floating;

        .title {
            @extend %dark;
        }
        .subtitle {
            @extend %light;
            border: 1px solid $dark;
        }
    }
    svg {
        fill: $dark;
    }
    .divider {
        border: 1px solid $dark;
    }
}
.dark {
    @extend %dark;
    .button {
        @extend %light;
        @extend %inset;
        color: $dark !important;
    }
    .button.icon svg {
        fill: $dark !important;
    }
    .button.icon svg,
    .button div {
        transition: all .2s cubic-bezier(.36,.07,.19,.97);
    }
    .button.icon:hover svg,
    .button:hover div {
        transform: translateY(2px);
    }
    .button:hover {
        box-shadow: 0px 4px $shadow inset;
    }
    .button:active {
        box-shadow: 0px 6px $shadow inset;
    }
    .button:visited {
        color: $dark !important;
    }
    a {
        color: $white !important;
    }
    a:visited {
        color: $white !important;
    }

    .tile {
        .title {
            @extend %light;
        }
        .subtitle {
            @extend %dark;
            border: 1px solid $white;
        }
    } 
    svg {
        fill: $white;
    } 
    .divider {
        border-bottom: 1px solid $white;
    }
}
svg {
    margin-top: 4px;
}

.container {
  max-width: 70em;
  margin: auto;
  padding: 0 1em;
}

.button {
    cursor: pointer;
    display: inline-block;
    font-family: $font-display;
    font-weight: 700;
    font-size: 1em;
    padding: .5em .75em;
    border-radius: 2px;
    transition: all .2s cubic-bezier(.36,.07,.19,.97);
    text-decoration: none;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.button:active {
    box-shadow: 0px -4px $shadow;
    transform: translateY(0);
}

.button.icon {
    padding: .35em .7em;
}

@media only screen and (max-width: 40rem) {
    .button {
        margin-bottom: 1rem;
    }
}

a .read-more {
    border: none;
    outline: none !important;
    text-decoration: none !important;
}
a.block-anchor{
    text-decoration: none !important;
}

.tile {
    border-radius: 2px;
    overflow: hidden;
    .title {
        padding: 1rem;
    }
    .subtitle {
        padding: 1rem;
        p {
            margin: 0;
        }
    }
    .button {
        margin-bottom: 0;
        margin-top: .5rem;
    }
    margin-bottom: 1rem;
}

.align-end {
    text-align: end;
    float: inline-end;
}

body {
    @extend %light;
    margin: 0;
    padding: 0;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1.1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    display: inline-block;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h2, h3, h4 {
    font-weight: 700;
}

p.text-display {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 50ch;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    p.text-display {
        font-size: 1em;
    }
    #menu .button {
        font-size: .75em;
    }
}
  
@media only screen and (max-width: 400px) {
    h1 {
      font-size: 1.5em;
    }
    p.text-display {
        font-size: 1em;
    }
    #menu .button {
        font-size: .6em;
    }
}

#hero {
    min-height: 75vh;
}
.petition-bar-container {
    margin-bottom: 2rem;
}
.petition-bar {
    @extend %inset;
    @extend %stripes;
    border-radius: 2px;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    margin-bottom: .25em;
    .progress {
        height: 100%;
        background-color: $white;
        box-shadow: 2px 0px $shadow;
    }
}

.pixelate-container {
    position: relative;

    div {
        z-index: 20;
        pointer-events: none;
        h1, h2, h3, h4, h5, h6, p, span, iframe, a {
            pointer-events: all;
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#petition {
    padding: 2rem 0;
    form {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

section.pad {
    padding: 4rem 0;
    h1 {
        margin-bottom: 1rem; 
    }
}

.read-more {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s linear;
}
.read-more:hover {
    box-shadow: 0px -6px $shadow;
    transform: translateY(2px);
}
.read-more:active {
    box-shadow: 0px -4px $shadow;
    transform: translateY(0px);
}
.read-more::after {
    content: "Weiterlesen >";
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.2s linear;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem 1rem;
    border-radius: 2px;
    transform: translateY(110%);
}
.light .read-more::after {
    @extend %dark;
}
.dark .read-more::after {
    @extend %light;
}
.read-more:hover::after {
    transform: translateY(0%);
}

.video-container {
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 50%;
    padding-top: 2rem;
    height: 0;
}
.video-container iframe, .video-container video, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    min-width: 0;
    min-height: 0;
}

.divider {
    margin: .5rem 0;
    width: 100%;
    height: 0;
}

// Input 

input[type="text"],
input[type="submit"],
select,
textarea {
    @extend %inset;
    @extend %light;
    box-sizing: border-box;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1em;
    border-radius: 2px;
    padding: 8px 8px;
    padding-bottom: 12px;
    margin-bottom: .5rem;
    background-color: $white;
    border: none;
    width: 100%;
}
input[type="submit"] {
    cursor: pointer;
    transition: box-shadow .1s linear;
    font-weight: 600;
}
input[type="submit"]:hover {
    box-shadow: 0px 4px $shadow inset;
}
input[type="submit"]:active {
    box-shadow: 0px 6px $shadow inset;
}


label {
    margin-bottom: .25rem;
    display:inline-block;
}
label.required:after {
  content: " *"
}


input[type="checkbox"] {
    box-sizing: border-box;
    display:none;
}
  
input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    padding-left: 32px;
    margin-right: 16px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    margin: .5rem 0;
    animation: none;
  }
  
input[type="checkbox"] + label:before {
    @extend %inset;
    border-radius: 2px;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: $white;
    transition: all .1s ease;
    @include svg ((x: 0, y: 0, viewBox: 0 0 20 20,)) {
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(45, 10, 10)'
        ));   
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(135, 10, 10)'
        ));   
    }
}
input[type="checkbox"]:checked + label:before {
    background-color: $grey;
    box-shadow: 0px 4px $shadow inset;
}

input[type="checkbox"]:active + label:before {
}
input[type="checkbox"]:hover + label:before {
}

.errorlist {
    @extend %red;
    @extend %inset;
    border-radius: 2px;
    list-style: none;
    padding: .25rem;
    padding-bottom: .5rem;
    margin: 0 0 8px 0;
}

 
// Demands on main page
.demands {
  display: grid;
  @media(min-width:800px) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: 3em;
  .demand {
    .demand__title {
      h3 {
        font-size: 1.4em;
        margin-bottom: .3em;
        strong {
          border-bottom: 4px solid;
          line-height: 1.1em;
          display: inline-block;
        }
      }
    }
    .demand__summary {
      p {
        margin: 0 0 .5em;
      }
    }
    .demand__more {
      cursor: pointer;
      display: inline-block;
      padding: .1em 0;
      &:after {
        content: " »"
      }
    }
  }
}

// lightbox .. used for demand detail view

.lightbox {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .lightbox__ground {
    background: rgba(0,0,0,.4);
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .lightbox__content {
    background: #fff;
    padding: 1em;
    max-width: 30em;
    margin: 1em;
    border-radius: 3px;
    max-height: calc(95vh - 2em);
    overflow: auto;
    z-index: 1;
  }
  .lightbox__closebt {
    float: right;
    margin-top: -.15em;
    font-size: 2em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
}

// Helper classes 

.pa-0 {
    padding: 0 !important;
}

