@import 'node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

@import 'node_modules/sassdash/index';
@import 'node_modules/sass-svg/index';

@import url('/static/fonts/zilla-slab/font.css');
@import url('/static/fonts/poppins/font.css');

$white: #FCFCFC;
$dark: #444a60;
$grey: #969DA8;
$red: #F06D6D;
$shadow: #0002;

$font-serif: 'Zilla Slab', serif;
$font-display: 'Poppins', sans-serif;

%floating {
    box-shadow: 0px -4px $shadow;
    z-index: 10;
}
%inset {
    box-shadow: 0px -4px $shadow inset;
}
%stripes {
    background-image: repeating-linear-gradient(45deg, $grey, $grey 30px, $white 30px, $white 60px);
}


%light {
    background-color: $white;
    color: $dark;  
    border-color:  $dark
}
%dark {
    background-color: $dark;
    color: $white;
    border-color: $white;
}
%red {
    background-color: $red;
    color: $white;  
}


@mixin back-to-top-icon($color) {
    @include svg ((x: 0, y: 0, viewBox: 0 0 24 24, transform: 'rotate(180)')) {
        @include svg('rect', (
            fill: $color,
            width: '5',
            height: '14',
            x: '0',
            ry: '2',
            transform: 'rotate(45, 5, 24)'
        ));   
        @include svg('rect', (
            fill: $color,
            width: '5',
            height: '14',
            x: '19',
            ry: '2',
            transform: 'rotate(-45, 19, 24)'
        ));   
    }
}

.back-to-top {
    position: fixed;
    bottom: 0rem; 
    right: 1rem;
    margin: 8px;
    width: 32px;
    height: 32px;
    border-radius: 2px 2px 0 0;
}

.light {
    @extend %light;
    a {
        color: $dark;
    }
    a:visited {
        color: $dark;
    }
    .button {
      border: 0;
        @extend %dark;
        color: $white !important;
        @extend %floating;
    }  
    .button.icon svg {
        margin-bottom: -2px ;
        fill: $white !important;
    }
    .button:hover {
        box-shadow: 0px -6px $shadow;
        transform: translateY(2px);
    } 
    svg {
        fill: $dark;
    }
    .back-to-top {
        @extend %dark;
        @include back-to-top-icon($dark);
    }
}
.dark {
    @extend %dark;
    .button {
        @extend %light;
        @extend %inset;
        color: $dark !important;
    }
    .button.icon svg {
        fill: $dark !important;
    }
    .button.icon svg,
    .button div {
        transition: all .2s cubic-bezier(.36,.07,.19,.97);
    }
    .button.icon:hover svg,
    .button:hover div {
        transform: translateY(2px);
    }
    .button:hover {
        background-position: 0 0;
        box-shadow: 0px 4px $shadow inset;
    }
    .button:active {
        box-shadow: 0px 6px $shadow inset;
    }
    .button:visited {
        color: $dark !important;
    }
    a {
        color: $white !important;
    }
    a:visited {
        color: $white !important;
    }
    svg {
        fill: $white;
    } 
    .back-to-top {
        @extend %light;
        @include back-to-top-icon($dark);
    }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 70em;
  margin: auto;
  padding: 0 1em;
}
.row-indent {
  margin: 0 -1em;
  width: auto;
}

.big {
  font-size: 1.5em;
}

.button {
    cursor: pointer;
    display: inline-block;
    font-family: $font-display;
    font-weight: 700;
    font-size: 1em;
    padding: .5em .75em;
    border-radius: 2px;
    transition: all .2s cubic-bezier(.36,.07,.19,.97);
    text-decoration: none;
    margin-right: .5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.button.back-to-top {
  padding: 0;
  background-position: 0 -2px;
}
.button:active {
    box-shadow: 0px -4px $shadow;
    transform: translateY(0);
}

.button.icon {
    padding: .6em .7em;
    padding-bottom: .8em;
    display: inline-flex;
    align-items: center;
}
.button.icon div {
  display: inline-block;
  margin-left: .7em;
}

.lightbox {
  display: none; // Unopened lightbox
  &:target { // Opened lightbox
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  // Lightbox content
  .lightbox__frame {
    width: 95%;
    max-width: 70rem;
    padding: 0;
    background-color: $white;
    position: relative;
    display: flex;
  }
  .lightbox__content {
    max-height: 95vh;
    width: 100%;
    @media(max-width: 600px) {
      max-height: 100vh;
    }
    overflow: auto;
    position: relative;
  }
  
  .lightbox__closebt {
    cursor: pointer;
    text-decoration: none;
    &:after {
      content: "×";
    }
  }

  // Lightbox overlay
  .lightbox__closebg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
  }
}

@keyframes scrollDown {
    from { margin-top: 200px; }
      to { margin-top: 0; }
}

.petition {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  .petition__title {
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5rem;
    border-bottom: 3px solid rgb(59, 64, 83);
    @media(max-height:500px) {
      font-size: 1em;
      padding: .5em 1.5rem;
    }

    font-size: 1.4em;
    font-family: $font-display;
    font-weight: 700;
    @media(max-width:600px) {
      font-size: 1em;
    }
    @media(max-width:500px) {
      font-size: .8em;
    }
  }
  .petition__content {
    display: flex;
    overflow: auto;
    flex-direction: row-reverse;
    @media(max-width:700px) {
      font-size: 1em;
      flex-direction: column;
    }
  }
  .petition__text {
    overflow: auto;
    // box-shadow: rgba(0,0,0,.3) 0 -5px 5px inset;
    background: linear-gradient(#ccc 0%,#fff 3%,#fff 98%,#aaa 100%);
    .petition__demands {
      .lightbox:target & {
        animation: scrollDown 1s;
      }
      padding: .5em 1.5rem 6em;
      @media(min-height:550px) {
        padding-top: 3.2em;
        h2 {
          margin-bottom: 1em;
        }
      }
    }
    .petition__demand {
      margin: 1em 0;
      padding-right: 5%;
    }
    .demand__summary p {
      font-weight: 700;
      margin: .3em 0;
    }
    transition: height .3s linear;
    @media (max-width: 700px) {
      display: none;
      height: 30%;
      &.shrink {
        height: 10%;
      }
      &.grow {
        height: 90%;
      }
    }
  }
  .petition__demandslink {
    display: none;
    @media (max-width: 700px) {
      display: block;
      padding: 1em 1.5em;
      text-decoration: none;
      color: #000;
    }
  }
  .petition__switch {
    display: none;
    @media (max-width: 700px) {
      display: block;
      background: red;
      height: 0em;
      width: 0em;
      border-radius: 50%;
      margin: -1em auto;
      padding: 1em;
      z-index: 9;
      position: relative;
      &:before {
        content: "";
        width: .6em;
        height: .6em;
        margin: -.4em -0.3em;
        border-bottom: 3px solid $white;
        border-right: 3px solid $white;
        position: absolute;
        transform: rotate(45deg); 
        box-sizing: border-box;
        transition: transform .3s ease;
      }
      &.go-up {
        &:before {
          transform: rotate(-135deg); 
          margin: -.2em -0.3em;
        }
      }
    }
  }
  .petition__form {
    display: flex;
    transition: height .3s linear;
    padding: 1em 1.5rem;
    flex-grow: 1;
    min-width: 16em;
    flex-direction: column;
    background: rgb(59, 64, 83);
    transition: height .3s linear;
    input[type="submit"] {
      font-family: $font-display;
      font-weight: bold;
      background-color: $red !important; 
      color: $white !important;
      margin-top: .5em;
    }
    @media (max-width: 700px) {
      height: 80%;
      &.shrink {
        height: 5%;
        overflow: hidden;
      }
      &.grow {
        height: 95%;
      }
    }
  }
  .petition__inputs {
    display: flex;
    flex-direction: column;
  }
  .petition__formcol {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .petition__checkboxes {
    @media(max-width:800px) {
      flex-direction: column;
    }
  }
  .petition__field {
    flex-grow: 1;
    .errorlist {
      font-size: .85em;
    }
  }
  label.required::after {
    content: "";
  }
  input[type="submit"] {
    width: auto;
    padding: 2em;
    @media(max-width:800px) {
      padding: 1em;
    }
  }
}


@media only screen and (max-width: 40rem) {
    .button {
        margin-bottom: 1rem;
    }
}


.align-end {
    text-align: end;
    float: inline-end;
}

body {
    @extend %light;
    margin: 0;
    padding: 0;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1.1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    display: inline-block;
    margin: 0;
}

h1 {
    font-size: 3em;
    @media(max-width: 700px) {
      font-size: 2.5em;
    }
    font-weight: 700;
    line-height: 1.3em;
}
h2, h3, h4 {
    font-weight: 700;
}

section {
    position: relative;
}

.text-display {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 50ch;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    .text-display {
        font-size: 1em;
    }
}
  
@media only screen and (max-width: 400px) {
    h1 {
      font-size: 1.5em;
    }
    p.text-display {
        font-size: 1em;
    }
}

#hero {
    min-height: 75vh;
    display: flex;
    background: url('/static/images/header-landscape.jpg');
    background-size: cover;
    background-position: right;
    @media (max-width: 800px) {
      background: url('/static/images/header-portrait.png');
      background-position: bottom right;
      padding-bottom: 200px;
    }
}

.hero__progressbar {
  max-width: 26rem;
}

.hero-button {
  font-size: 1.4em;
  .button {
    color: $white !important;
    background-color: $red;
    border-color: #795050;
  }
}

.petition-bar-container {
    margin-bottom: 2rem;
}
.petition-bar {
    @extend %inset;
    @extend %stripes;
    border-radius: 2px;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    margin-bottom: .25em;
    .progress {
        height: 100%;
        background-color: rgba(31, 153, 187, 0.95);
        box-shadow: 2px -7px #0002 inset, 2px 0 0px rgba(255, 255, 255, 0.2);
    }
}

.pixelate-container {
    position: relative;

    div, section {
        z-index: 20;
        pointer-events: none;
        h1, h2, h3, h4, h5, h6, p, span, iframe, a {
            pointer-events: all;
        }
    }

    canvas {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: multiply;
        mix-blend-mode: color-burn;
    }
}


section.pad {
    padding: 4rem 0;
    h1 {
        margin-bottom: 1rem; 
    }
}


// Input 


input[type="text"],
input[type="submit"],
select,
textarea {
    @extend %inset;
    @extend %light;
    box-sizing: border-box;
    font-family: $font-serif;
    font-weight: 500;
    font-size: 1em;
    border-radius: 2px;
    padding: 8px 8px;
    padding-bottom: 12px;
    margin-bottom: .5rem;
    background-color: $white;
    border: none;
    width: 100%;
}
input[type="submit"] {
    cursor: pointer;
    transition: box-shadow .1s linear;
    font-weight: 600;
}
input[type="submit"]:hover {
    box-shadow: 0px 4px $shadow inset;
}
input[type="submit"]:active {
    box-shadow: 0px 6px $shadow inset;
}


label {
    margin-bottom: .25rem;
    display:inline-block;
}
label.required:after {
  content: " *"
}

input[type="checkbox"] {
    box-sizing: border-box;
    display:none;
}
  
input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    padding-left: 32px;
    margin-right: 16px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    margin: .5rem 0;
    animation: none;
  }
  
input[type="checkbox"] + label:before {
    @extend %inset;
    border-radius: 2px;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: $white;
    transition: all .1s ease;
    @include svg ((x: 0, y: 0, viewBox: 0 0 20 20,)) {
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(45, 10, 10)'
        ));   
        @include svg('rect', (
            fill: $white,
            width: '5',
            height: '20',
            x: '7.5',
            ry: '2',
            transform: 'rotate(135, 10, 10)'
        ));   
    }
}
input[type="checkbox"]:checked + label:before {
    background-color: $grey;
    box-shadow: 0px 4px $shadow inset;
}

input[type="checkbox"]:active + label:before {
}
input[type="checkbox"]:hover + label:before {
}

.errorlist {
    @extend %red;
    @extend %inset;
    border-radius: 2px;
    list-style: none;
    padding: .25rem;
    padding-bottom: .5rem;
    margin: 0 0 8px 0;
}

.auskunft__content {
  display: flex;
  flex-grow: 1;
  @media(max-width: 1200px) {
    flex-direction: column;
    .auskunft__pile {
      max-height: 14em;
      max-width: 20%;
    }
    .auskunft__info {
      flex-direction: row-reverse;
    }
  }
  align-items: flex-end;
  .auskunft__primary {
    width: 100%;
    margin-top: 5rem;
    @media(min-width: 1201px) {
      margin-bottom: 6rem;
    }
  }
  .auskunft__pile {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    img {
      max-width: 100%;
    }
    @media(min-width: 1201px) {
      width: 100%;
      margin: 0 2em;
      img {
        max-width: 12em;
      }
    }
  }
  .auskunft__info {
    width: 100%;
    display: flex;
    align-items: flex-end;

  }
  .auskunft__text {
    line-height: 1.35em;
    margin: 3rem 0;
  }
  .auskunft__legal {
    margin: 0;
  }
}
.auskunft__button {
  font-size: 1.4em;
}

.supporters__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media(max-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media(max-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  @media(max-width: 400px) {
    grid-template-columns: 1fr;
  }
  grid-gap: 60px 60px;
  margin: 2em 0;
  .supporter {
    width: 100%;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: grayscale(100%);
    transition: transform .3s ease-in, filter .3s ease-in;
    &:hover {
      transform: scale(1.1);
      filter: grayscale(0%);
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

// main navigation
.menu {
  background: #141e2b;
  .mainnav {
    display: flex;
    .mainnav__first {
      display: flex;
    }
    .mainnav__last {
      display: flex;
    }
    .mainnav__item {
      @media(max-width: 1100px) {
        font-size: .85em;
      }
      font-family: $font-display;
      padding: 1em 1.5em;
      text-decoration: none;
      border-color: lighten($dark, 10);
      border-style: solid;
      border-width: 0;
      border-left-width: 2px;
      transition: background-color .2s linear; 
      &:last-child {
        border-right-width: 2px;
      }
      &:hover {
        background-color: lighten($dark, 10);
      }
    }
  }
  @media(max-width: 900px) { // mobile burger menu
    &:before {
      
    }
    .mainnav {
      display: none;
    }
  }
}

// Info section on main page

.info {
  .info__content {
    display: flex;
    @media(max-width:1100px) {
      flex-direction: column;
    }
  }
  .info__text {
    flex-basis: 100%;
    margin-right: 3em;
  }
  .info__video {
    width: 100%;
    max-width: 480px;
    margin-top: 1em;
  }
}


.video-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 75%;
    height: 0;
    iframe, video, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      min-width: 0;
      min-height: 0;
    }
}


.algo-bg {
  background: url('/static/svg/algo-bg.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 4rem;
  padding-bottom: 4rem;
} 

.demands__title {
  display: block;
  text-align: center;
}
// Demand section on main page
.demands {
  display: grid;
  @media only print {
    display: block;
  }
  margin-top: 2rem;
  @media(min-width:800px) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: 0 3em;
  .demand {
    .demand__title {
      h3 {
        font-size: 1.4em;
        margin-bottom: .3em;
        strong {
          border-bottom: 4px solid;
          line-height: 1.1em;
          display: inline-block;
        }
      }
    }
    .demand__summary {
      p {
        margin: 0 0 .5em;
      }
    }
    .demand__more {
      cursor: pointer;
      display: inline-block;
      padding: .1em 0;
      &:after {
        content: " »"
      }
      @media only print {
        display: none;
      }
    }
    .demand__detail-nojs {
      display: none;
      @media only print {
        display: block;
      }
    }
  }
}
.demands-petition-button {
  font-size: 1.7em;
  margin: 1em;
  text-align: center;
  .button {
    @extend %red;
    background-color: darken($red, 10);
    border-color:  darken($red, 20); 
    box-shadow: 0px -4px darken($red, 20);
    &:hover {
      box-shadow:  0px -4px darken($red, 25), 0px -4px lighten($red, 0) inset;
      background-color: darken($red, 20);      
    }
    @media(max-width: 450px) {
      line-height: 1.2em;
    }
  }
}

.ministerin-gb {
  @media(max-width: 1000px) {
    min-height: 60vh;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;  
      opacity: .3; 
      z-index: 0;
      background-image: url('/static/images/christine-aschbacher-ams.jpg');
      background-size: cover;
      background-position: center;
    }
  }
}
.ministerin {
  position: relative;
  display: flex;
  margin: 3rem 0;
  .ministerin__photo {
    @media(max-width: 1000px) {
      display: none;
    }
    img {
      max-height: 30em;
      margin-left: 3em;
    }
  }
  .ministerin__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ministerin__name {
    margin-bottom: .1em;
  }
  .ministerin__amt {
    margin: .1em 0 1em;
    font-size: 1.1rem;
    font-weight: normal;
  }
}

.share__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  @media(max-width: 700px) {
    flex-direction: column;   
  }
  .share__content {
    flex-grow: 1;
  }
  .share__image {
    flex-grow: 0;
    text-align: right;
    img {
      width: 80%;
      margin: -80px 0;
    }
  }
}

.newsletter {
  background-color: #f2f2f2;
  .newsletter__layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    @media(max-width: 480px) {
      flex-direction: column;   
    }
  }
  .newsletter__text {
    max-width: 23em;
    margin-right: 2em;
  }
  .newsletter__button {
    font-size: 1.3em;
  }
}

#footer {
  padding-bottom: 3em;
}

.footer__donate {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  a.footer__bubble {
    display: block;
    color: $dark !important;
    background: $white;
    border-radius: .3em;
    padding: .6em 1em;
    position: relative;
    margin-top: 1.2em;
    max-width: 10em;
    text-decoration: none;
    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	left: 50%;
    	width: 0;
    	height: 0;
    	border: 1em solid transparent;
    	border-bottom-color: $white;
    	border-top: 0;
    	margin-left: -1em;
    	margin-top: -.95em;
    }
  }
  .footer__epicenter-logo {
    max-width: 10em;
    min-height: 5em;
    margin: 0 0 1.5em;
  }
}

// lightbox .. used for demand detail view

.js-lightbox {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .js-lightbox__ground {
    background: rgba(0,0,0,.7);
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .js-lightbox__content {
    background: #fff;
    padding: 1em;
    max-width: 30em;
    margin: 1em;
    border-radius: 3px;
    max-height: calc(95vh - 2em);
    overflow: auto;
    z-index: 1;
  }
  .js-lightbox__closebt {
    float: right;
    margin-top: -.15em;
    font-size: 2em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
}

#request {
  input[type="submit"] {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #F06D6D !important;
    color: #FCFCFC !important;
    margin-top: .5em;    
  }
  padding: 1em 0 3em;
}

.petition-input {
  background: $dark;
  color: $white;
}

// Helper classes 

.pa-0 {
    padding: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

