{% load i18n %}

<div class="tour__dates">
  <h2>Termine</h2>
  <ul>
    <li><span class="tour__date">28. April</span> <span class="tour__location">Panel / Livestream</span></li>
    <li><span class="tour__date">2. Mai</span> <span class="tour__location">AMS Traun</span></li>
    <li><span class="tour__date">3. Mai</span> <span class="tour__location">AMS Wels</span></li>
    <li><span class="tour__date">4. Mai</span> <span class="tour__location">AMS Steyr</span></li>
    <li><span class="tour__date">5. Mai</span> <span class="tour__location">AMS Vöcklabruck</span></li>
    <li><span class="tour__date">6. Mai</span> <span class="tour__location">AMS Linz</span></li>
  </ul>
</div>