{% load i18n %}


<h1 class="tour__title">{% trans "Triff uns, <br>wir sind auf Tour ..." %}</h1>
<div class="tour__textcontent">
{% blocktrans %}
  ... um mit interessierten Menschen und Betroffenen über den AMS-Algorithmus ins Gespräch kommen.<br>
  Ihr findet uns zwischen 9.00 - 14.00 Uhr vor dem jeweiligen AMS Standort. Wir haben übrigens auch einen lustigen „einarmigen Banditen“ dabei, mit dem man seine Chancen auf AMS-Förderungen nachspielen kann. Zum Trost gibt es ein kleines Geschenk zum Naschen
{% endblocktrans %}
</div>