<div class="demand__title">
  <h3>Fähigkeiten fördern, statt Schwächen bestrafen</h3>
</div>

<div class="demand__summary">
  <p>
    Mehr Bildung ermöglichen, durch Förderung und Ermöglichung von (Weiter-)Bildung
  </p>
</div>
<div class="demand__detail">
  <p>
    Menschen sollen aufgrund ihrer Fähigkeiten und Stärken gefördert werden, dazu braucht es eine Aufstockung der Weiterbildungs- und Schulungsmaßnahmen von Arbeitssuchenden.</p><p>
    Es muss es Arbeitssuchenden erlaubt werden ein Uni- oder FH-Studium zu beginnen (dies ist derzeit nur dann erlaubt, wenn Arbeitssuchende schon zu Berufszeiten parallel studiert haben). Auch soll das AMS selbstbezahlte Weiterbildungen z.B. Kurse, die nur wenige Tage dauern, erlauben.
  </p>
</div>
