<div class="demand__title">
  <h3><strong>Fähigkeiten fördern</strong>, statt Schwächen bestrafen</h3>
</div>

<div class="demand__summary">
  <p>
    Stärkere Fokussierung auf Stärken, statt auf Schwächen der Personen
  </p>
</div>
<div class="demand__detail">
  <p>
    Von der Beratung durch das AMS erwarten wir, dass Menschen aufgrund ihrer Fähigkeiten und Stärken gefördert werden.
    Es soll dabei geholfen werden Fertigkeiten auszubauen, die vom Arbeitsmarkt gefordert werden.
    Berater*innen sollen Aufklärungsarbeit über viele verschiedenen Angebote leisten, von Selbststudium bis zu Förderungskursen.
  </p>
</div>
