<div class="demand__title">
  <h3>Recht auf <strong>Information</strong></h3>
</div>

<div class="demand__summary">
  <p>
    Wir fordern eine umfassende proaktive Aufklärung über die Rechte von Arbeitssuchenden
  </p>
</div>
<div class="demand__detail">
  <p>
    Das AMS wird durch uns alle finanziert und ist daher ein Dienstleistungsanbieter im Auftrag der Allgemeinheit zu helfen. Er muss allen Menschen auf Augenhöhe begegnen. Damit Menschen gleichberechtigt mit ihren Berater*innen reden können brauchen sie zuallererst Informationen darüber, was ihre Rechten und Pflichten in Zusammenhang mit dem AMS sind. Begonnen damit, woran ihr Anspruch auf Arbeitslosengeld geknüpft ist. Ob und unter welchen Umständen ihnen das Geld gestrichen werden darf. Ob sie eine Betreuungsvereinbarung mit dem AMS eingehen müssen oder ob dies optional ist. Wie ihre Informations- und Auskunftsrechte aussehen und wie das rechtliche Verhältnis zwischen ihnen und externen Partnerunternehmen vom AMS geregelt ist.
  </p>
</div>