{% extends "demand.html" %}

{% block hero %}
  <div class="row bottom-xs">
    <div class="col-xs-12">
      <h1><strong>Menschen,</strong> nicht Computer,</h1><br>
      <h1>sollen entscheiden.</h1>
    </div>
  </div>     
{% endblock %}

{% block demand_content %}
  <p class="text-display">
    Menschen sollen anhand nachvollziehbarer Kriterien 
    über den Zugang zu staatlichen Leistungen entscheiden, 
    statt Entscheidungen eines Computers nur abzunicken.
  </p>
  <p>
    Der AMS Algorithmus ist abzulehnen und muss abgeschaltet werden. Ein Computer darf nicht über menschliche Schicksale entscheiden und der Zugang zu staatlichen Leistungen darf nicht von einem Computer reguliert werden. Entscheidungen müssen nachvollziehbar, transparent und mit menschlichem Maß getroffen werden. Das System ein gefährlicher Präzedenzfall politische Entscheidungen an Algorithmen auszulagern.
  </p>
  <p>
    Auch wenn das System (noch) keine vollautomatischen Entscheidungen treffen sollte, darf es auch keine Entscheidungen vorgeben, die durch das AMS-Personal nur noch abgenickt werden. Die AMS-Beratungstermine dauern meist nur 15 Minuten und es gibt einen enormen Rechtfertigungsdruck dem Computer nicht zu widersprechen.
  </p>
{% endblock %}
