  <div class="demand__title">
    <h3>1. Menschen, nicht Computer sollen entscheiden</h3>
  </div>

  <div class="demand__summary">
    <p>
      Menschen sollen anhand nachvollziehbarer Kriterien 
      über den Zugang zu staatlichen Leistungen entscheiden, 
      statt Entscheidungen eines Computers nur abzunicken.
    </p>
  </div>
  <div class="demand__detail">
    <p>
      Der AMS Algorithmus ist abzulehnen und muss abgeschaltet werden. Ein Computer darf nicht über menschliche Schicksale entscheiden und der Zugang zu staatlichen Leistungen darf nicht von einem Computer reguliert werden. Entscheidungen müssen nachvollziehbar, transparent und mit menschlichem Maß getroffen werden. Das System ein gefährlicher Präzedenzfall politische Entscheidungen an Algorithmen auszulagern.
    </p>
    <p>
      Selbst wenn <abbr title="Vom AMS „AMAS“ oder „PAMAS“ genannt">das System</abbr> (noch) keine vollautomatischen Entscheidungen treffen sollte, darf es auch keine Entscheidungen vorgeben, die durch das AMS-Personal nur noch abgenickt werden. Die AMS-Beratungstermine dauern meist nur 15 Minuten und es besteht enormer Rechtfertigungsdruck dem Computer nicht zu widersprechen.
    </p>
  </div>

