<div class="demand__title">
  <h3>7. Nur freiwillige Teilnahme am Algorithmus</h3>
</div>

<div class="demand__summary">
  <p>
    Wir fordern eine optionale Teilnahme am AMS-Algorithmus (Opt-In) und die Entkoppelung von jeder Fördervergabe. Wir wollen ein System, das so gut ist, dass die Betroffenen freiwillig daran teilnehmen
  </p>
</div>
<div class="demand__detail">
  <p>
    Das AMS ist in einer Machtposition gegenüber den Arbeitssuchenden.
    Im Sinne des Datenschutzes fordern wir deshalb die Freiwilligkeit der Teilnahme
    aller Arbeitssuchenden am AMS-Algorithmus. Arbeitssuchenden müssen ihre
    informierte Zustimmung geben, bevor das System sie kategorisiert. Diese
    Zustimmung kann jederzeit widerrufen werden, wodurch auch alle berechneten
    Werte des Algorithmus gelöscht werden müssen. Aus der Weigerung an diesem
    System teilzunehmen, dürfen den Arbeitssuchenden keine Nachteile entstehen.
  </p>
</div>
