<div class="demand__title">
  <h3>3. Mehr Ressourcen für das AMS</h3>
</div>

<div class="demand__summary">
  <p>
    Wir fordern mehr und besser ausgebildete Berater*innen, die ausreichend Zeit für Beratungen haben.
  </p>
</div>
<div class="demand__detail">
  <p>
    Das Verhältnis von Berater*innen zu Arbeitssuchenden <a href="https://netzpolitik.org/2018/oesterreichs-jobcenter-richten-kuenftig-mit-hilfe-von-software-ueber-arbeitslose/" target="_blank">beträgt in Deutschland 1:100, in Österreich hingegen nur 1:250</a>. Daran sieht man, dass eine Aufstockung in diesem Bereich denkbar und durchaus sinnvoll wäre, denn ein besseres Betreuungsverhältnis bedeutet bessere Jobchancen und qualitätsvollere Betreuung. Das AMS braucht nicht nur mehr Geld für die Aus- und Weiterbildung seiner Berater*innen. Ebenso notwendig ist die qualitative Aufstockung von sinnvollen Weiterbildungs- und Schulungsmaßnahmen von Arbeitssuchenden.
  </p>

</div>
