<div class="demand__title">
  <h3><strong>Mehr Ressourcen</strong> für das AMS</h3>
</div>

<div class="demand__summary">
  <p>
    Wer Geld sparen will investiert in Bildung. Gerade jetzt braucht es einen Ausbau von Um- und Weiterbildungsmaßnahmen. Wer bei der Ausbildung kürzt erzeugt Langzeitarbeitslose.
  </p>
</div>
<div class="demand__detail">
  <p>
    Das Verhältnis von Berater*innen zu Arbeitssuchenden <a href="https://netzpolitik.org/2018/oesterreichs-jobcenter-richten-kuenftig-mit-hilfe-von-software-ueber-arbeitslose/" target="_blank">beträgt in Deutschland 1:100 und in Österreich 1:250</a>. Daran sieht man, dass eine Aufstockung in diesem Bereich denkbar und durchaus sinnvoll wäre, denn ein besseres Betreuungsverhältnis führt zu rascherer Jobwiederaufnahme. Das AMS braucht nicht nur mehr Geld für die Aus- und Weiterbildung seiner Berater*innen. Ebenso notwendig ist die Aufstockung der Weiterbildungs- und Schulungsmaßnahmen von Arbeitssuchenden. 
  </p>
  <p>
    Zwei Fliegen mit einer Klappe könnte man schlagen indem man das Defacto Verbot für Arbeitssuchende aufhebt, ein Uni-Studium zu beginnen (dies ist nur dann erlaubt, wenn Arbeitssuchende schon zu Berufszeiten parallel studiert und gearbeitet haben). Solche Maßnahmen würden Arbeitssuchenden und dem Bildungsniveau in Österreich zugutekommen.
  </p>
</div>