<div class="demand__title">
  <h3>Umfassende <strong>Transparenz</strong></h3>
</div>

<div class="demand__summary">
  <p>
    Projekte und Programme, die mit unser aller Geld gestartet werden müssen höchstmögliche Transparenz aufweisen, um evaluierbar zu sein.
  </p>
</div>
<div class="demand__detail">
  <p>
    Der AMS-Algorithmus ist jahrelang mit hohen Kosten unter Ausschluss der Öffentlichkeit entwickelt worden. Eine informierte Debatte war schon allein deshalb nicht möglich, weil weder die Datenbasis des Systems noch seine Resultate veröffentlicht wurden. Die Schulungsunterlagen für Berater*innen und Prozesse für Widersprüche mit dem Algorithmus werden weiterhin geheim gehalten. Eine wissenschaftliche Aufarbeitung und demokratische Debatte über das Projekt sind so ausgeschlossen.
  </p>
  <p>
    Wir fordern umfassende und proaktive Transparenz vom AMS. Aufklärung darf nicht erst durch öffentlichen Druck erfolgen. Veröffentlicht werden müssen zumindest die mathematischen Modelle, die eingesetzt Software, die anonymisierte Datenbasis, die konkrete Funktionsweise des Systems, die Ergebnisse des Berechnungsprozesses für einzelne Gruppen. Ebenso muss transparent dargelegt werden, wie sich der AMS-Algorithmus auf die praktische Beratung und Fördervergabe auswirkt. Auch die Maßnahmen, die das AMS bereits aufgrund der Kritik gesetzt hat, wie Schulungsunterlagen, das Zusammenspiel mit der Umstrukturierung des AMS und begleitende Prozesse, sowie Beschwerdemöglichkeiten für Betroffene, müssen endlich veröffentlicht werden.
  </p>
</div>