
{% load i18n %}

<style>
.announcement {
  background-color: #e62b36;
  font-family: 'Poppins';
  color: #fff;
  padding: .7em 0;
}
</style>
<section class="dark announcement"> 
  <div class="row center-xs">
    <div class="container">
      <div>
        {% blocktrans %}
        <b>Triff uns beim Tag der Arbeitslosen am Samstag den 30. April 2022</b><br>
        <div style="font-size: .9em;">
          in WIEN von 15:00 - 17:00 Mariahilfer Straße Ecke Neubaugasse oder <br>
          in GRAZ von 11:00 - 13:00 Am eisernen Tor bei der AMSEL Veranstaltung
        </div>
        {% endblocktrans %}
      </div>
    </div>
  </div>
</section>
  