
{% load i18n %}

<style>
.announcement {
  background-color: #e62b36;
  font-family: 'Poppins';
  color: #fff;
  padding: .7em 0;
}
</style>
<section class="dark announcement"> 
  <div class="row center-xs">
    <div class="container">
      <div>
        {% blocktrans %}
        <b>Triff uns</b> beim Tag der Arbeitslosen in WIEN am 30.04.22 von 15:00 - 17:00 Mariahilfer Straße Ecke Neubaugasse <br>
        oder beim Tag der Arbeitslosen in GRAZ am 30.04.22 von 11:00 - 13:00 Am eisernen Tor bei der AMSEL Veranstaltung
        {% endblocktrans %}
      </div>
    </div>
  </div>
</section>
  