{% load sass_tags %}

<!DOCTYPE html>
<html lang="de">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="theme-color" content="#FFFFFF">

      <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
      <meta property="og:url"           content="https://amsalgorithmus.at/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Stoppt den AMS-Algorithmus!" />
      <meta property="og:description"   content="Wollen Sie, dass Computer darüber entscheiden, wen das AMS geförderte Ausbildungen und Schulungen machen lässt?"/>
      <meta property="og:image"         content="???" />

      <title>amsalgorithmus.at</title>
    </head>
    <body>
      <section id="hero" class="light pixelate-container row bottom-xs">
        {% block hero %}{% endblock %}
        <canvas class="pixelate" onmousemove="draw(event)"></canvas>
      </section>
      {% block content %}{% endblock %}
      <section id="footer" class="light row">
        <div class="col-xs-12 col-sm-6">
          <div>built by ???</div>
          <div><a target="_blank" href="https://github.com/AKVorrat/amsalgorithmus.at">Code auf Github</a></div>
        </div>
        <div class="col-xs-12 col-sm-6 align-end">
          <div>Impressum:</div>
          <div>epicenter.works, Widerhofergasse 8/2/4, 1090 Wien</div>
        </div>
      </section>
    </body>
    <script src="/static/js/pixelate.js"></script>
</html>
