{% load sass_tags %}
{% load svg %}

<!DOCTYPE html>
<html lang="de">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="theme-color" content="#FFFFFF">

      <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" media="screen" />
      <link href="{% sass_src 'scss/main_print.scss' %}" rel="stylesheet" type="text/css" media="print" />
      <meta property="og:url"           content="https://amsalgorithmus.at/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Stoppt den AMS-Algorithmus!" />
      <meta property="og:description"   content="Wollen Sie, dass Computer darüber entscheiden, wen das AMS geförderte Ausbildungen und Schulungen machen lässt?"/>
      <meta property="og:image"         content="???" />

      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
      <link rel="manifest" href="/static/favicons/site.webmanifest">
      <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#2b4d5c">
      <link rel="shortcut icon" href="/static/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#751d35">
      <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">


      <title>Stoppt den AMS Algorithmus</title>
    </head>
    <body>
      
      
      <div  id="top"></div>
      <section id="hero" class="dark pixelate-container">
        {% block hero %}{% endblock %}
        <canvas class="pixelate" onmousemove="draw(event)"></canvas>
      </section>
      {% block navigation %}{% endblock %}

      {% block content %}{% endblock %}



      <section id="footer" class="dark">
        <div class="container">
          <div class="row row-indent">
            <div class="col-xs-12 col-md-4">
              <div>Design &amp; Entwicklung:</div>
              <div><a target="_blank" href="https://meks.io/">Max Wolschlager</a>  &amp;</div>
              <div><a target="_blank" href="https://i.notice.at/">Andreas Demmelbauer</a></div>
            </div>
            <div class="col-xs-12 col-md-4 footer__donate">
              <a href="https://epicenter.works/" target="_blank">
                <img class="footer__epicenter-logo" src="/static/svg/epicenter-logo-white.svg" alt="epicenter.works Logo">
              </a>
              Du findest unsere Arbeit gut?
              <a href="https://spenden.epicenter.works/" target="_blank" class="footer__bubble">
                <b>Bitte <u>unterstütze uns</u>!</b>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 align-end">
              <div><a href="https://epicenter.works/kontakt" target="_blank">Impressum</a> &middot; <a href="/privacy" target="_blank">Datenschutz</a></div>
              <div><a href="https://epicenter.works" target="_blank">epicenter.works</a></div>
              <div>Widerhofergasse 8/2/4, 1090 Wien</div>
              <div>
                <a target="_blank" class="icon" href="https://github.com/AKVorrat/amsalgorithmus.at">
                {% svg 'github' %}</a>
                <a target="_blank" class="icon" href="mailto:feedback@amsalgorithmus.at?subject=Feedback zu amsalgorithmus.at">
                {% svg 'email' %}</a>
              </div>
            </div>
          </div>
        </div>
        <a onclick="scrollToId('top')" class="scrollto button back-to-top"></a>

      </section>
    </body>
    <script src="/static/js/anim.js"></script>
    <script src="/static/js/scroll.js"></script>
    <!--script src="/static/js/pixelate.js"></script-->
    <script src="/static/js/petition.js"></script>
    <script src="/static/js/demands.js"></script>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.epicenter.works/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '9']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</html>
