{% load sass_tags %}
{% load svg %}

<!DOCTYPE html>
<html lang="de">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="theme-color" content="#FFFFFF">

      <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
      <meta property="og:url"           content="https://amsalgorithmus.at/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Stoppt den AMS-Algorithmus!" />
      <meta property="og:description"   content="Wollen Sie, dass Computer darüber entscheiden, wen das AMS geförderte Ausbildungen und Schulungen machen lässt?"/>
      <meta property="og:image"         content="???" />

      <title>Stoppt den AMS Algorithmus</title>
    </head>
    <body>
      
      
      <section id="hero" class="dark pixelate-container">
        {% block hero %}{% endblock %}
        <canvas class="pixelate" onmousemove="draw(event)"></canvas>
      </section>
      {% block navigation %}{% endblock %}

      {% block content %}{% endblock %}



      <section id="footer" class="dark">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div>Design & Entwicklung:</div>
              <div><a target="_blank" href="https://meks.io/">Max Wolschlager</a>  &amp;</div>
              <div><a target="_blank" href="https://i.notice.at/">Andreas Demmelbauer</a></div>
            </div>
            <div class="col-xs-12 col-md-4 footer__donate">
              Du findest unsere Arbeit gut? <br>
              Bitte <a href="https://spenden.epicenter.works/" target="_blank">unterstütze uns!</a>
            </div>
            <div class="col-xs-12 col-md-4 align-end">
              <div><a href="https://epicenter.works/kontakt" target="_blank">Impressum</a></div>
              <div><a href="https://epicenter.works" target="_blank">epicenter.works</a></div>
              <div>Widerhofergasse 8/2/4, 1090 Wien</div>
              <div>
                <a target="_blank" class="icon" href="https://github.com/AKVorrat/amsalgorithmus.at">
                {% svg 'github' %}</a>
                <a target="_blank" class="icon" href="mailto:feedback@amsalgorithmus.at?subject=Feedback zu amsalgorithmus.at">
                {% svg 'email' %}</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
    <script src="/static/js/anim.js"></script>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/pixelate.js"></script>
    <script src="/static/js/petition.js"></script>
    <script src="/static/js/demands.js"></script>
</html>
