{% extends "base.html" %}

{% block hero %}
  <div class="row bottom-xs">
    <div class="col-xs-12">
      {% if confirmed %}
        <h1><strong>Alles Klar!</strong></h1>
      {% else %}
        <h1><strong>Ein Fehler</strong> ist aufgetreten.</h1>
      {% endif %}

      <p class="text-display">
        {% if confirmed %}
          Deine teilnahme an der Petition wurde erfolgreich bestätigt.
          Vielen Dank für deine Unterstützung!
        {% else %}
          Bitte wende dich an {% include 'support_email.html' %} um deine Unterschrift zu bestätigen.
        {% endif %}
      </p>
    </div>
  </div>     
{% endblock %}

{% block content %}
  <section class="light">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
        {% include "share.html" %}
        {% include "donate.html" %}
        {% include "request_call_to_action.html" %}
      </div>
    </div>
  </section>
{% endblock %}