
<div>
  <h2>Da du hier bist…</h2>
  <p>
    hätten wir eine kleine Bitte an dich.
    Diese Kampagne wird betrieben von der Grundrechts-NGO <a target="_blank" href="https://epicenter.works/">epicenter.works</a>.
    Wir kämpfen seit über 10 Jahren für Grund- und Menschenrechte im digitalen Zeitalter,
    haben die Vorratsdatenspeicherung und den Bundestrojaner abgeschafft und brauchen deine Unterstützung.
    Hilf uns eine starke Stimme für die Zivilgesellschaft zu sein!
  </p>
  <a class="button" target="_blank" href="https://support.epicenter.works/">
  <div>Jetzt Fördermitglied werden!</div></a>
</div>
