
{% load petition_filters %}

<div class="petition" id="petition">
    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {% if field|field_type:'checkboxinput' %}
            {{ field }}
            {{ field.label_tag }}
            {{ field.errors }}
            {% else %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        <input class="petition-input" type="submit" value="Unterschreiben">
        <label>* Pflichtfelder</label>
    </form>
</div>
