
{% extends "base.html" %}
{% load petition_filters %}
{% load svg %}

{% block hero %}

  <div class="row between-xs">
    <div class="col-xs-12">
      <h1>Stoppt den</h1><br>
      <h1><strong>AMS&#8209;Algorithmus!</strong></h1>
      <p class="text-display">
        Wollen Sie, dass Computer darüber entscheiden,
        wen das AMS geförderte Ausbildungen und Schulungen
        machen lässt?
      </p>
      <a href="#unterschreiben" class="big button">Petition</a>
      

      
      
    </div>
    <div class="col-xs-6">
    </div>
  </div>     
  <div class="col-xs-12">
    <div id="menu" class="row center-xs bottom-xs">
        <a href="#petition" class="button">Petition</a>
        <a href="#video" class="button">Erklärvideo</a>
        <a href="#demands" class="button">Forderungen</a>
        <a href="#request" class="button">Auskunftsbegehren</a>
    </div>      
  </div>    
 

{% endblock %}

{% block content %}
    <section id="petition" class="dark"> 
      <div class="row center-xs">
        <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
          {% include 'progressbar.html' %}
          <h2>Jetzt Unterschreiben!</h2>
          <form method="post" action="#petition" novalidate>
            {% csrf_token %}

            {% for field in form %}
                {% if field|field_type:'checkboxinput' %}
                {{ field }}
                {{ field.label_tag }}
                {{ field.errors }}
                {% else %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            <input class="form-input" type="submit" value="Unterschreiben">
            <label>* Pflichtfelder</label>
          </form>
          <div id="video">
            <h2>Warum ist das wichtig?</h2>
            <p>
              Ein Algorithmus wie dieser bringt einige Probleme mit sich. 
              Vielleicht klärt dich dieses kurze Video auf.
            </p>
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="light pad">
      <div id="demands" class="row bottom-xs">
        
        <div class="col-xs-12 row center-xs">
            <h1>Unsere <strong>Forderungen</strong></h1>
        </div> 
      </div> 
      
      
      <div class="container">
      {% with 'menschen ressourcen faehigkeiten transparenz information risikocheck optional' as demands %}
        <div class="demands">
          {% for demand in demands.split %}
          <div class="demand">
           {% with "demands/"|add:demand|add:".html" as templatepath %}
           {% include templatepath %}
           {% endwith %}
          </div>
          {% endfor %}      
        </div>
        {% endwith %}
      </div>


    </section>
            
    <section class="dark pad">
      <div class="row bottom-xs">
        <div class="col-xs-12 row center-xs">
          <h1>Kontaktiere deine <strong>Ministerin!</strong></h1>
        </div> 
      </div> 
       <div class="row center-xs">
        <div class="col-xs-12 col-sm-8 col-md-6">
          <div class="tile">
            <div class="title">
              <h2>Mag. (FH) Christine Aschbacher</h2>
            </div>
            <div class="subtitle">
              <h3>Bundesministerin für Arbeit, Familie und Jugend</h3>
              <p>
                <div class="divider"></div>

                <a target="_blank" href="https://www.facebook.com/ChristineAschbacher/">
                {% svg 'facebook' %}</a>
                <a target="_blank" href="mailto:christine.aschbacher@bmafj.gv.at">
                {% svg 'email' %}</a>
                <div class="divider"></div>
                Bundesministerium für Arbeit, Familie und Jugend<br>
                Untere Donaustraße 13-15<br>
                1020 Wien<br>
              </p>
            </div> 
          </div> 
        </div> 
      </div>
    </section>
{% endblock %}
