
{% extends "base.html" %}

{% block content %}
    <style>
      .petition-bar .progress {
          width: {{ progress }}%;
      }
    </style>
    <section id="hero" class="light pixelate-container row bottom-xs">
      <canvas class="pixelate" onmousemove="draw(event)"></canvas>
      <div class="row bottom-xs">
        <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
          <h1>Stoppt den<br><strong>AMS&#8209;Algorithmus!</strong></h1>
          <p class="text-display">
            Wollen Sie, dass Computer darüber entscheiden,
            wen das AMS geförderte Ausbildungen und Schulungen
            machen lässt?
          </p>
        </div>
      </div>
      <div class="row col center-xs bottom-xs">
        <div class="col-xs-12 col-sm-8 col-md-6">
          <div class="petition-bar">
            <div class="progress"></div>
          </div>
          <span> Bisher {{ signature_count }} von {{ goal }} Unterschriften. </span>
        </div>
      </div>       
    </section>

    <section id="petition-section" class="dark row center-xs"> 
      <div class="col-xs-11 col-sm-7 col-md-5">
        {% include "form.html" %}
      </div>
    </section>

{% endblock %}
