{% extends "base.html" %}
{% load petition_filters %}
{% load svg %}

{% block navigation %}

  <nav class="dark menu" id="menu">
    <div class="container">
      <div class="mainnav">
        <div class="mainnav__first">
          <a class="scrollto mainnav__item" onclick="scrollToId('video')"  href="#video" >Erklärvideo</a>
          <a class="scrollto mainnav__item" onclick="scrollToId('demands')" href="#demands">Forderungen</a>
          <a class="scrollto mainnav__item" onclick="scrollToId('ministerin')" href="#ministerin">Ministerin kontaktieren</a>
          <a class="scrollto mainnav__item" onclick="scrollToId('auskunftsbegehren')" href="#auskunftsbegehren">AMS-Daten anfordern</a>
          <a class="scrollto mainnav__item" onclick="scrollToId('share')" href="#share">Weitersagen</a>
        </div>
        <div class="mainnav__last">
        </div>
      </div>
    </div>
  </nav>

{% endblock %}

{% block hero %}

  <div class="container">
    <div>
      <h1>
        <div style="max-width:11em;">
          Stoppt den
          <strong>AMS&#8209;Algorithmus</strong>
        </div>
      </h1>
      <p class="text-display" style="max-width: 20em;">
        Computer dürfen nicht über Menschen entscheiden!
      </p>
      <div class="hero__progressbar">
        {% include 'progressbar.html' %}
      </div>
      <a href="#petition" id="bigPetitionBt" class="hero-button">
        <button class="button">
          Jetzt Forderungen unterstützen!
        </button>
      </a>
    </div>
  </div>

{% endblock %}

{% block content %}
    <section id="info" class="dark pad info">
      <div class="container">
        <h2 style="max-width:20em;">
          Die Einführung des AMS-Algorithmus ist ein
          <strong>gefährlicher Dammbruch</strong>.
        </h2>
        <div class="info__content">
          <div class="info__text">
            <p>
              Bislang war es so, dass der Einsatz ganz neuer Technologien
              zumindest öffentlich debattiert und mit einem Gesetz
              demokratisch legitimiert wurde. Das ist beim AMS-Algorithmus nicht so.
            </p>
            <p>
              Dieses <strong>System wurde ohne öffentliche Debatte
              entwickelt</strong> und präsentiert. Die
              <strong>Zivilgesellschaft</strong> war in diesen Prozess
              <strong>nicht eingebunden</strong> und <strong>bis heute fehlt es</strong> hier
              <strong>grundlegend</strong> an <strong>Transparenz</strong>, wie dieses System arbeitet und über uns entscheidet.
            </p>
            <p>
              Ein ähnliches System wurden <a href="https://epicenter.works/content/warum-der-polnische-ams-algorithmus-gescheitert-ist" target="_blank">in Polen vom Verfassungsgerichtshof
              aufgehoben</a>. Auch in den Niederlanden wurde ein algorithmenbasiertes System,
              das Sozialhilfeempfänger*innen kontrollieren sollte <a href="https://www.uni-muenster.de/NiederlandeNet/aktuelles/archiv/2020/0205GerichtverbietetSyRi.html" target="_blank">für
              rechtswidrig erklärt und eingestellt.</a>
            </p>
            <p>
              Wir dürfen nicht zulassen, dass Merkmale,
              auf die man keinen Einfluss hat, entscheidend dafür sind, ob Menschen
              Aus- und Weiterbildungen verboten werden. <strong>Algorithmische
              Systeme</strong> müssen Vorurteile und Ungerechtigkeiten bekämpfen
              und <strong>dürfen diese Ungerechtigkeiten nicht</strong>
              auch noch <strong>einzementieren</strong>.
            </p>
          </div>
          <div class="info__video">
            <div id="video" class="video-container">
              <iframe src="https://embed.epicenter.works/yt/VUoN61lKcMc" width="480" height="360" allowfullscreen="allowfullscreen" frameborder="0" style="border: 0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="demands" class="light">
      <div class="container algo-bg">
        <div>
          <h1 class="demands__title">Unsere <strong>7 Forderungen</strong></h1>
        </div>

      {% with 'menschen faehigkeiten ressourcen information transparenz risikocheck optional' as demands %}
        <div class="demands">
          {% for demand in demands.split %}
          <div class="demand">
           {% with "demands/"|add:demand|add:".html" as templatepath %}
           {% include templatepath %}
           {% endwith %}
          </div>
          {% endfor %}
        </div>
        {% endwith %}
        <div class="demands-petition-button">
          <a class="button" href="#petition">
            Jetzt Forderungen unterstützen!
          </a>
        </div>
      </div>
    </section>

    <section id="petition" class="lightbox">
      <a href="#" class="lightbox__closebg"></a>
      <div class="lightbox__frame">
        <div class="lightbox__content ">
          <div class="petition">
            <div class="dark petition__title">
              <div>AMS Algorithmus stoppen</div>
              <a href="#" class="lightbox__closebt"></a>
            </div>
            <div class="petition__content">
              <div class="light petition__text">
                <div class="petition__demands">
                  <h2>Unsere 7 Forderungen</h2>
                  {% with 'menschen faehigkeiten ressourcen information transparenz risikocheck optional' as demands %}
                  {% for demand in demands.split %}
                  <div class="petition__demand">
                    {% with "demands/"|add:demand|add:".html" as templatepath %}
                    {% include templatepath %}
                    {% endwith %}
                  </div>
                  {% endfor %}
                  {% endwith %}
                </div>
              </div>
              <div class="petition__switch">
              </div>
              <div class="dark petition__form">
                <form method="post" action="#petition" novalidate>
                  {% csrf_token %}
                  <div class="petition__inputs">
                    <div class="petition__formcol petition__textinputs">
                      <div class="petition__field">
                        {{ form.first_name.errors }}
                        {{ form.first_name }}
                        {{ form.first_name.label_tag }}
                      </div>
                      
                      <div class="petition__field">
                        {{ form.last_name.errors }}
                        {{ form.last_name }}
                        {{ form.last_name.label_tag }}
                      </div>
                      
                      <div class="petition__field">
                        {{ form.email.errors }}
                        {{ form.email }}
                        {{ form.email.label_tag }}
                      </div>
                    </div>
                    
                    <div class="petition__formcol petition__checkboxes">
                      <div class="petition__field">
                        {{ form.privacy_policy.errors }}
                        {{ form.privacy_policy }}
                        {{ form.privacy_policy.label_tag }}
                      </div>
                      <div class="petition__field">
                        {{ form.newsletter }}
                        {{ form.newsletter.label_tag }}
                        {{ form.newsletter.errors }}
                      </div>
                    </div>
                  </div>
                  <input class="form-input" type="submit" role="button" value="Unterschreiben">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="ministerin" class="dark">
      <div class="ministerin-gb">        
        <div class="container">

          <div class="ministerin">
            <div class="ministerin__text">
              <div>
                <div>
                  <h1 style="max-width:9em; margin-bottom: .7em;">Kontaktiere deine <strong>Ministerin!</strong></h1>
                </div>
                <div>
                  <h2 class="ministerin__name">Mag. (FH) Christine Aschbacher</h2>
                </div>
                  
                <h3 class="ministerin__amt">Bundesministerin für Arbeit, Familie und Jugend</h3>
                <p>
                  Bundesministerium für Arbeit, Familie und Jugend<br>
                  Untere Donaustraße 13-15, 1020 Wien
                </p>
              </div>
              <div>
                <a target="_blank" class="button icon" href="mailto:christine.aschbacher@bmafj.gv.at?subject=Stoppen%20Sie%20den%20AMS-Algorithmus&body=Als%20zust%C3%A4ndige%20Ministerin%20bitte%20ich%20Sie%20alles%20M%C3%B6gliche%20zu%20tun%20um%20den%20AMS-Algorithmus%20abzudrehen.%20Beraten%20Sie%20sich%20mit%20den%20Mitgliedern%20im%20Verwaltungsrat%20des%20AMS.%20%C3%9Cberzeugen%20Sie%20diese%2C%20dass%20eine%20verpflichtende%20Einf%C3%BChrung%20des%20Algorithmus%20langfristige%20Sch%C3%A4den%20in%20diesem%20Land%20erzeugen%20wird.">
                  {% svg 'email' %} <div> E-Mail schreiben </div></a>
                  <a target="_blank" class="button icon" href="https://www.facebook.com/ChristineAschbacher/">
                    {% svg 'facebook' %} <div> auf Facebook kontaktieren </div></a>
                </div>

            </div>
            <div class="ministerin__photo">
              <img class="ministerin__photo" src="/static/images/christine-aschbacher-ams.jpg" style alt="">
            </div>
          </div>
          
          
        </div>
      </div>
    </section>

    <section class="light" id="auskunftsbegehren">
      <div class="container">
          <div>
            <div class="auskunft__content">
              <div class="auskunft__primary">
                <h1>Stelle ein <strong>Auskunftsbegehren!</strong></h1>
                <p class="text-display">
                  Einmal im Jahr kannst du gratis all deine Daten von allen Firmen und Behörden anfordern. Hier kannst du das für das AMS tun.
                </p>
                <a href="/request" class="button auskunft__button">
                  <div>Zum Generator</div>
                </a>
                <p class="auskunft__legal">Antrag gemäß Art. 15 DSGVO auf Auskunft</p>
              </div>
              <div class="auskunft__info">
              <div class="auskunft__pile">
                <img src="/static/svg/paper-pile.svg" alt="">
              </div>
              <div class="auskunft__text">
                <p>
                  <strong>Nur wenn du seit 2019 arbeitslos warst hat das AMS eine algorithmische Einstufung von dir, das sind in etwa 2 Seiten des Auskunftsbegehrens (eine Infoseite und eine Auskunftsseite).</strong> Durchschnittlich gesehen hat ein Auskunftsbegehren beim AMS (bei älteren Personen) ca 80-150 Seiten. Auf Nachfrage kann dir stattdessen auch <strong>dein/e AMS-Berater*in über deine algorithmische Einstufung Auskunft erteilen.</strong>
                </p>
              </div>
              </div>
            </div>
        </div>
    </section>

    <section class="dark pad" id="share">
      <div class="container">

        <div class="share__layout">
          <div class="share__content">
            <h1>Weitersagen!</h1>
            <p class="text-display">
              Erzähle deinen Freunden von dieser Kampagne! Nur so können wir genug politischen Druck erzeugen, um den AMS Algorithmus zu verhinden.
            </p>
            <a target="_blank" class="button icon" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famsalgorithmus.at">
              {% svg 'facebook' %} <div>Facebook</div>
            </a>
            <a target="_blank" class="button icon" href="https://twitter.com/intent/tweet?url=https://amsalgorithmus.at&text=Ich+habe+die+Kampagne+gegen+den+%23AMSAlgorithmus+unterzeichnet+und+du+solltest+das+auch+tun!+Arbeitsmarktpolitik+darf+nicht+durch+intransparente+Algorithmen+gemacht+werden.">
              {% svg 'twitter' %} <div>Twitter</div>
            </a>
            <a target="_blank" class="button icon" href="mailto:?subject=Stoppe%20den%20AMS-Algorithmus&body=Ich%20habe%20die%20Kampagne%20gegen%20den%20%23AMS-Algorithmus%20unterzeichnet%20und%20du%20solltest%20das%20auch%20tun.%20Arbeitsmarktpolitik%20darf%20nicht%20durch%20intransparente%20Algorithmen%20gemacht%20werden.%20Bitte%20unterst%C3%BCtze%20auch%20du%20die%20Petition%20auf%20https%3A%2F%2Famsalgorithmus.at"">
              {% svg 'email' %} <div>E-Mail</div>
            </a>
          </div>
          <div class="share__image">
            <img src="/static/svg/share-love-2.svg" alt="">
          </div>
        </div>
      </div>
    </section>


    
    <section class="light pad" id="supporters">
      <div class="container">
        <h1>Unterstützer*innen</h1>
        <p>Die Kampagne wird von folgenden Organisationen getragen:</p>
        <div class="supporters__grid">
          <a class="supporter" href="https://epicenter.works" title="epicenter.works - Plattform Grundrechtspolitik" target="_blank">
            <img src="/static/images/supporters/ew_Logo_farbe_L-transparent.png" alt="epicenter.works - Plattform Grundrechtspolitik">
          </a>
          <a class="supporter" href="https://www.bizeps.or.at/" title="Verein BIZEPS – Zentrum für Selbstbestimmtes Leben" target="_blank">
            <img src="/static/images/supporters/LOGO-bizeps.png" alt="Verein BIZEPS – Zentrum für Selbstbestimmtes Leben">
          </a>
          <a class="supporter" href="https://attac.at" title="Attac Österreich: Netzwerk für eine demokratische Kontrolle der Finanzmärkte" target="_blank">
            <img src="/static/images/supporters/Attac_Logo_bunt.png" alt="Attac Österreich: Netzwerk für eine demokratische Kontrolle der Finanzmärkte">
          </a>
          <a class="supporter" href="https://www.momentum-institut.at" title="Momentum Institut - Verein für sozialen Fortschritt" target="_blank">
            <img src="/static/images/supporters/Momentum_Institut_Logo.png" alt="Momentum Institut - Verein für sozialen Fortschritt">
          </a>
          <a class="supporter" href="https://www.vicesse.eu" title="Vienna Centre for Societal Security (VICESSE)" target="_blank">
            <img src="/static/images/supporters/VICESSE_Logo_transparent.png" alt="Vienna Centre for Societal Security (VICESSE)">
          </a>
                    <a class="supporter" href="http://quintessenz.at" title="quintessenz - Verein zur Wiederherstellung der Bürgerrechte im Informationszeitalter" target="_blank">
            <img src="/static/images/supporters/Quintessenz_logo_slogan.png" alt="quintessenz - Verein zur Wiederherstellung der Bürgerrechte im Informationszeitalter">
          </a>
                    <a class="supporter" href="https://www.frauenberatenfrauen.at" title="Frauen* beraten Frauen*" target="_blank">
            <img src="/static/images/supporters/frauenberatenfrauen.png" alt="Verein Frauen beraten Frauen">
          </a>
                    <a class="supporter" href="https://digisociety.at/" title="Digital Society" target="_blank">
            <img src="/static/images/supporters/DigiSoc.png" alt="Digital Society">
          </a>
                    <a class="supporter" href="http://www.uki.or.at" title="UKI Unterstützungskomitee zur Integration von MigrantInnen" target="_blank">
            <img src="/static/images/supporters/UKI_Logo_druck.png" alt="UKI Unterstützungskomitee zur Integration von MigrantInnen">
          </a>
         </div>
      </div>
    </section>
    <section class="light pad newsletter" id="newsletter">
      <div class="container">
        <div>
          <h1>Bleib informiert!</h1>
          <div class="newsletter__layout">
            <p class="text-display newsletter__text">Mit dem epicenter.works Newsletter behältst du den Überblick über netzpolitische Themen in Österreich.</p>
            <a href="https://epicenter.works/newsletter" target="_blank" class="button newsletter__button">Jetzt abonnieren</a>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
