{% extends "base.html" %}
{% load petition_filters %}

{% block content %}

    <div> DSGVO Auskunftsbegehren </div>

    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {% if field|field_type:'checkboxinput' %}
            {{ field.errors }}
            {{ field }}
            {{ field.label_tag }}
            {% else %}
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {% endif %}
        {% endfor %}
        <input type="submit" value="Generieren">
        <label>* Pflichtfelder</label>
    </form>

{% endblock %}

