{% extends "base.html" %}
{% load petition_filters %}

{% block hero %}
  <div class="row bottom-xs">
    <div class="col-xs-12">
      <h1><strong>Auskunftsbegehren</strong></h1>
    </div>
  </div>     
{% endblock %}

{% block content %}
    <section id="request" class="dark">
      <div class="row center-xs">
        <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
          <p>
            Mithilfe dieses Formulars kannst du ein Auskunftsbegehren generieren, 
            welches dazu dient personenbezogene Daten die das Arbeitsmarktservice über dich 
            gesammelt hat einzusehen.
            Schicke es an die enthaltene Adresse und lege eine Ausweiskopie bei!
          </p>
          <form method="post" action="#request" novalidate>
              {% csrf_token %}

              {% for field in form %}
                  {% if field|field_type:'checkboxinput' %}
                  {{ field.errors }}
                  {{ field }}
                  {{ field.label_tag }}
                  {% else %}
                  {{ field.label_tag }}
                  {{ field.errors }}
                  {{ field }}
                  {% endif %}
              {% endfor %}
              <input type="submit" value="Generieren">
              <label>* Pflichtfelder</label>
          </form>
          Alternativ stellen wir auch einen <a href="https://epicenter.works/sites/default/files/ams-dsgvo-hoch.pdf" target="_blank">Musterbrief</a> als PDF für das Auskunftsbegehren zur Verfügung 
        </div>
        

      </div>
    </section>
{% endblock %}
