{% load svg %}

<div>
    <h2>Jede Stimme zählt!</h2>
    <p> 
      Teile diese Seite auf Social Media damit wir unser Ziel erreichen!
    </p>
<a target="_blank" class="button icon" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famsalgorithmus.at">
              {% svg 'facebook' %} <div>Facebook</div>
            </a>
            <a target="_blank" class="button icon" href="https://twitter.com/intent/tweet?url=https://amsalgorithmus.at&text=Ich+habe+die+Kampagne+gegen+den+%23AMS-Algorithmus+unterzeichnet+und+du+solltest+das+auch+tun!+Arbeitsmarktpolitik+darf+nicht+durch+intransparente+Algorithmen+gemacht+werden.">
              {% svg 'twitter' %} <div>Twitter</div>
            </a>
            <a target="_blank" class="button icon" href="mailto:?subject=Stoppe%20den%20AMS-Algorithmus&body=Ich%20habe%20die%20Kampagne%20gegen%20den%20%23AMS-Algorithmus%20unterzeichnet%20und%20du%20solltest%20das%20auch%20tun.%20Arbeitsmarktpolitik%20darf%20nicht%20durch%20intransparente%20Algorithmen%20gemacht%20werden.%20Bitte%20unterst%C3%BCtze%20auch%20du%20die%20Petition%20auf%20https%3A%2F%2Famsalgorithmus.at"">
              {% svg 'email' %} <div>E-Mail</div>
            </a>

</div>
