{% extends "base.html" %}
{% load i18n %}

{% block hero %}
  <div class="row bottom-xs">
    <div class="col-xs-12">
      <h1><strong>{% trans "Danke," %}</strong></h1>
      <p class="text-display">
        {% trans "klicke noch schnell den Bestätigungslink, den du per E-Mail erhalten hast." %}
      </p>
    </div>
  </div>     
{% endblock %}

{% block content %}
<section class="dark"> 
  <div class="row center-xs">
    <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
      {% include "share.html" %}
      {% include "donate.html" %}
    </div>
  </div>
</section>
{% endblock %}
