{% extends "base.html" %}
{% load i18n %}

{% block hero %}
  <style>
    #hero {
      min-height: 45vh; 
      background-position: right bottom  !important;
    }
    .zoomlink {
      font-family: 'Poppins';
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      padding-bottom: .2em;
      border-bottom: 3px solid #fff;
    }
  </style>
  <div class="row bottom-xs">
    <div class="col-xs-12">
      <h1><strong>{% trans "Wir sind auf Tour" %}</strong></h1>
      <p class="text-display">
        {% trans "Termine & Livestream" %}
      </p>
    </div>
  </div>     
{% endblock %}


{% block navigation %}
  <nav class="container" id="languages">
    <ul class="mainmenu">
      <li>
        <div>
          <label for="tm"><i class="fa fa-language"></i></label>
        </div>
        <input type="checkbox" id="tm">
        <ul class="submenu">
          {% get_available_languages as languages %}
          {% get_current_language as current_language %}
          {% for langcode, langname in languages %}
          <li{% if langcode == current_language %} class="current"{% endif %}><a href="/{{ langcode }}" class="mainnav__item">{{ langname }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>

  <nav class="dark menu" id="menu">
    <div class="container">
      <div class="mainnav">
        <div class="mainnav__first">
          <a class="mainnav__item" href="../" >{% trans "Hauptseite & Petition" %}</a>
        </div>
        <div class="mainnav__last">
        </div>
      </div>
    </div>
  </nav>

{% endblock %}


{% block content %}

<style>
.livestream {
  padding: 2em 0;
}
.container {
  width: 90%;
}
</style>


<section class="dark"> 
  <div class="row center-xs">
    <div class="container">
      <div class="livestream">
        <h2 style="margin: 0 0 1em;">{% trans "Online Event & Livestream" %}</h2>
        <div style="border: 10px dashed #131f2b; font-size: 1.5em; padding: 3rem; text-align: center; margin-bottom: 2rem;">
          <p>
            <a class="zoomlink" href="https://zoom.us/j/94040785048?pwd=SHdjL0FROVBCK1MrSGZtUnJCK21nUT09#success">
              <img src="/static/svg/tour-livestream-icon.svg" style="max-width: 80vw; max-height: 30vh;" alt="Symbolbild Fernseher" />
              <br>
              Hier geht es zur Paneldiskussion via Zoom
            </a>
          </p>
          <p>
            <small>
              {% trans "Start: 28. April, 10:00" %}
            </small>
          </p>
          <div style="font-size: 1rem;">
            <p>
              Zum Beginn einer Aktionswoche, bei der für die Abschaffung eines solchen maschinenbasierten Systems geworben wird, diskutieren Vertreter*innen aus Wissenschaft, Politik, Betroffenen und Verwaltung über ihren Zugang zu dem Algorithmus.            
            </p>
            <p>
              <u>Am Podium</u>:<br>
              <strong>Dr. Doris Allhutter</strong>, Senior Scientist, Institut für Technikfolgen-Abschätzung<br>
              <strong>Mag.a Dagmar Andree, MBA</strong>, Leiterin Abt. Wirtschafts-, Sozial- &amp; Gesellschaftspolitik, Kammer für Arbeiter &amp; Angestellte Oberösterreich<br>
              <strong>Mag. Gerald Loacker</strong>, Abgeordneter zum Nationalrat, NEOS<br>
              <strong>Thomas Lohninger</strong>, executive director ; epicenter.works<br>
              <strong>Peter Oberdammer</strong>, Sozialwissenschaftler, Trainer, Coach, Arbeitslosen-Aktivist<br>
              <strong>Dr. Andreas Zavadil, </strong>CIPP/E, CIPM, Datenschutzbehörde / Austrian Data Protection Authority<br>
              Durch das Gespräch führt : <strong>Mag. Daniela Soykan </strong>
            </p>
            <p>
              <a href="https://concordia.at/stoppt-den-ams-algorithmus-sollen-maschinen-ueber-menschen-entscheiden-duerfen/" target="_blank">
                Mehr Infos
              </a>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<section class="light"> 
  <div class="row center-xs">
      <div class="container tour-bg">
        <div class="tour__content">
          <div class="tour__text">
            {% include 'tour/tour_teaser_text.html' %}
          </div>
          {% include 'tour/tour_dates.html' %}
        </div>
      </div>
  </div>
</section>

<section class="dark pad" id="newsletter">
  <div class="container">
    {% include 'newsletter_snippet.html' %}
  </div>
</section>

{% endblock %}
