{% extends "base.html" %}

{% block hero %}
  <div class="row bottom-xs">
    <div class="col-xs-12">
      {% if withdrawn %}
        <h1><strong>Alles klar!</strong></h1>
        <p class="text-display">
          Wir haben deinen Widerruf erhalten und deine Daten gelöscht.
        </p>
      {% else %}
        <h1><strong>Ein Fehler</strong> ist aufgetreten.</h1>
        <p class="text-display">
          Vielleicht wurden deine Daten bereits gelöscht?
          Bitte wende dich an {% include 'support_email.html' %} um sicherzugehen, dass deine Daten gelöscht wurden.
        </p>
      {% endif %}    
    </div>
  </div>     
{% endblock %}

{% block content %}
<section class="dark"> 
  <div class="row center-xs">
    <div class="col-xs-11 col-sm-7 col-md-5 col-lg-4">
      {% include "share.html" %}
      {% include "donate.html" %}
    </div>
  </div>
</section>
{% endblock %}
